header {
    background-color: black;
    color: #ddd;
    padding: 10px;
    text-align: center;
}
footer {
    background-color: black;
    color: #ddd;
    padding: 10px;
    text-align: center;
    position: bottom;
    bottom: 0;
    width: 100%;
}
aside {
    padding-top: 20px;
    font-weight: bold;
}
.footerprojectinformation {
    color:black;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: black;
}
li {
    float: center;
    border-style: solid; color: white;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
li a:hover {
    background-color: #ddd;
}
