<!--
Author: Christopher Garcia
Date: 12/15/2019
Course Name: CST205
Description: This is an extra about page added to the header, just for fun
-->

<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>About Me</title>
  </head>
  <body>
    {% extends "template.html" %}
    {% block content %}

    <h1> About Us </h1>
    <p> BY: Christopher Garcia, Alana Lanway,Gustavo Aquino, Juan De La Torre</p>
    <p>Sound Bites is a web application where one is able to choose minor andmajor key notes. The keys that are chosen, will appear on the screen and after one chooses desired notes, you can play the button. The button will produce the previous selected notes in the order</p>
    
    {% endblock %}
  </body>
</html>